body {
    margin: 0;
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont,
        'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
#root .react-datepicker {
    font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #03a9f4;
    cursor: pointer;
}

.help { }

.help > h3,
.help > h4 {
    margin: 1em 0 0.5em;
}

.help > code {
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 0.75rem;
    background-color: #eee;
}

.help > code .tab {
    display: inline-block;
    width: 1rem;
}

.help > .note {
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #78d2af;
    background-color: #edfff8;
}

.help > .note:before {
    content: 'NOTE: ';
    font-weight: bold;
}

.help i {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #eee;
    background: #f6f6f6;
    font-size: 0.8rem;
    font-style: normal;
}

